body {
    background-color: #23272A;
}
.main {
    color:white
}
.verifyb {
    background-color: #5A66AE;
    padding: 0.5em 1.5em;
    font-size: 1.5em;
    color: white;
    outline: none;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
.verifyb:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 5px #00000040;
}